@import './colors';
@import './components/index.scss';

html {
  background-color: $color-background;
  font-family: 'Montserrat', Arial, sans-serif;
  color: $color-text-regular;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vw;
}
