@import '../reset-button';

.baseButton {
  @include reset-button;
  display: block;
  transition: 0.2s all;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &--link {
    text-decoration: underline;
    color: $color-text-regular;
    
    &:hover {
      color: $color-primary;
    }
  }

  &--medium {
    padding: 12px;
    border-radius: 5px;
    color: $color-background;
    background-color: $color-primary;

    &:hover {
      color: $color-background;
      background-color: $color-primary-accent;
    }
  }
}
