.navigationBar {
  display: flex;
  flex-direction: row;
  border: 0px solid grey;
  border-bottom: 1px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 5%);
}

.navigationBar_tab {
  position: relative;
  display: flex;
  max-width: 120px;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: $text-darkest;
  transition: 0.2s all;

  &:hover {
    color: $activity-color;
  }

  &-active {
    color: $activity-color;
  }
}

.navigationBar_indicator {
  position: absolute;
  bottom: -2px;
  left: 5%;
  width: 90%;
  height: 2px;
  transition: 0.2s all;
  background-color: transparent;

  &-active {
    color: $activity-color;
    background-color: $activity-color;
  }
}
