.navigationBar {
  display: flex;
  flex-direction: row;
  border: 0px solid grey;
  border-bottom: 1px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 5%);
}

.navigationBar_tab {
  position: relative;
  display: flex;
  max-width: 120px;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: $text-darkest;
  transition: 0.2s all;
  background-color: transparent;

  &:hover {
    color: $lavanda-700;
  }

  &-active {
    background-color: $lavanda-200;
  }
}
